@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.container {
  max-width: 1280px;
  margin: 50px auto;
}
.nav {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eye-buttons {
  display: flex;
}
.eye-buttons .nav-item {
  cursor: pointer;
}
.eye-buttons .nav-item p {
  margin-bottom: 0;
}
.eye-buttons .nav-item:nth-child(2) {
  margin-left: 20px;
}
.user-tip {
  font-size: 14px;
  margin-top: 5px;
}
/* styling for custom search result */
.search_component {
  width: 300px;
}
.search_component .search_input {
  padding: 10px 0px;
}
.search_component .search_box {
  padding: 10px;
  display: flex;
  cursor: pointer;
  border-top: 1px solid #c3cfd9;
  border-left: 1px solid #c3cfd9;
  border-right: 1px solid #c3cfd9;
}
.search_component .search_box:hover {
  background-color: #f9f9f9;
}

.search_component .search_box .right_side {
  width: 95%;
  margin-left: 10px;
}
.search_component .search_box .right_side h4 {
  margin: 0px;
  color: #293845;
}
.search_component .search_box .right_side h3 {
  margin: 0px;
  color: #293845;
}
.collapsible_component_record .checkbox_container {
  display: flex;
  justify-content: flex-end;
}
.collapsible_component_record .collapse_box {
  padding: 10px;
  display: flex;
}
.collapsible_component_record .collapse_box .left_side {
  width: 5%;
}
.collapsible_component_record .collapse_box .right_side {
  width: 95%;
}
.collapsible_component_record .collapse_box .right_side h4 {
  margin: 0px;
}
